# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.env
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# React
client/node_modules
client/package-lock.json
client/npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
/dist
/build